@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 0% 95%;
    --foreground: 160 0% 10%;
    --card: 160 0% 94%;
    --card-foreground: 160 0% 15%;
    --popover: 160 0% 95%;
    --popover-foreground: 160 95% 10%;
    --primary: 160 100% 25.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 122 10% 94%;
    --muted-foreground: 160 0% 40%;
    --accent: 122 10% 90%;
    --accent-foreground: 160 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 160 0% 94%;
    --border: 160 20% 82%;
    --input: 160 20% 50%;
    --ring: 160 100% 25.9%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 160 10% 10%;
    --foreground: 160 0% 94%;
    --card: 160 0% 10%;
    --card-foreground: 160 0% 94%;
    --popover: 160 10% 5%;
    --popover-foreground: 160 0% 94%;
    --primary: 160 100% 25.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 122 10% 25%;
    --muted-foreground: 160 0% 65%;
    --accent: 122 10% 25%;
    --accent-foreground: 160 0% 94%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 160 0% 94%;
    --border: 160 20% 50%;
    --input: 160 20% 50%;
    --ring: 160 100% 25.9%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* Microsoft Edge */
input[type="search"]::-ms-clear {
  display: none;
}
